<div *ngIf="product" class="product-page-container">
  <section class="product-details">
    <app-product-library [images]="[product.image_url]"></app-product-library>

    <div class="product-info">
      <h1 class="secondary">{{ product.name }}</h1>
      <div class="price">
        <span class="current-price secondary">{{ formatPrice(product.price) }}₽</span>
        <span class="original-price secondary" *ngIf="product.discount_price">{{ formatPrice(product.discount_price) }}₽</span>
      </div>

      <div class="characteristics">
        <div *ngFor="let characteristic of product.characteristics">
          <app-detail-card
            [title]="characteristic.template.name"
            [value]="getCharacteristicValue(characteristic)"
            iconName="Core"
          ></app-detail-card>
        </div>
      </div>

      <div class="controls">
        <app-button size="large" [fullWidth]="true" type="secondary-dark" (click)="addToWishList()">В Избранное</app-button>
        <app-button size="large" [fullWidth]="true" type="primary-gradient" (click)="addToCart()">В корзину</app-button>
      </div>
    </div>
  </section>

  <section class="product-description-section">
    <div class="product-description">
      <h2 class="secondary">Характеристики</h2>
      <div *ngFor="let characteristic of product.characteristics">
        <div class="char-info">
          <span>{{ characteristic.template.name }}</span>
          <span>{{ getCharacteristicValue(characteristic) }}</span>
        </div>
      </div>
    </div>
  </section>
</div>
