@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

:root {
  --font-family-primary: "Nunito Sans", sans-serif;
  --font-family-secondary: "Noto Sans", sans-serif;

  --color-accent-primary: #8833da;
  --color-accent-light: #9a46ec;
  --color-accent-dark: #7427bd;

  --color-accent-gradient: linear-gradient(143deg, rgba(51,123,218,1) 0%, rgba(122,89,218,1) 18%, rgba(136,51,218,1) 61%, rgba(77,113,234,1) 91%, rgba(0,170,255,1) 100%);
  --color-accent-gradient-hover: linear-gradient(241deg, rgba(51,123,218,1) 0%, rgba(122,89,218,1) 18%, rgba(136,51,218,1) 61%, rgba(77,113,234,1) 91%, rgba(0,170,255,1) 100%);

  --color-light-primary: #ffffff;
  --color-background: #f8f6f6;
  --color-light-secondary: #f1f0f0;
  --color-light-tertiary: #dad8d8;

  --color-black: #000000;
  --color-dark-primary: #1A1919;
  --color-dark-secondary: #2E2E2E;
  --color-dark-tertiary: #A7A7A7;

  --color-error: #df2a2a;
}

@media (min-width: 768px) {
  .secondary {
    font-family: var(--font-family-secondary), sans-serif;
    /*font-style: italic;*/
  }
}

@media (max-width: 767px) {
  .secondary {
    font-family: var(--font-family-primary), sans-serif;
    font-style: normal;
  }
}
