<div class="shopping-cart">
  <div class="product-list">
    <h1>Корзина</h1>
    <div *ngFor="let product of cartItems">
      <app-cart-list-item [product]="product"></app-cart-list-item>
    </div>
  </div>
  <div class="order-summary">
    <h2>Оформление заказа</h2>
    <app-input-field label="Discount code / Promo code" placeholder="Code" size="large"></app-input-field>
    <app-input-field label="Your bonus card number" placeholder="Enter Card Number" size="large"
                     buttonLabel="Apply" (click)="applyDiscount()"></app-input-field>
    <div class="price-line">
      <span class="secondary">Сумма заказа:</span><span>{{ formatPrice(subtotal) }}₽</span>
    </div>
    <div class="price-line">
      <span>Работа сервиса:</span><span>{{ formatPrice(estimatedTax) }}₽</span>
    </div>
    <div class="price-line">
      <span>Доставка:</span><span>{{ formatPrice(estimatedShipping) }}₽</span>
    </div>
    <div class="price-line">
      <span class="secondary">Итого:</span><span>{{ formatPrice(getTotal()) }}₽</span>
    </div>
    <app-button size="large" [fullWidth]="true" type="primary-gradient" (action)="checkout()">Перейти к оплате</app-button>
  </div>
</div>
