<div class="product-card">
  <div>
    <img [src]="product.image_url" alt="{{ product.name }}" class="product-image">
  </div>
  <div class="product-info">
    <h3>{{ product.name }}</h3>
    <p class="price">{{ formatPrice(product.price) }}₽</p>
    <div class="actions">
      <div class="favorite-container">
        <img src="{{ isFavorite ? '/assets/icons/Liked.svg' : '/assets/icons/Like.svg' }}"
             alt="Favorite Icon" class="favorite" (click)="toggleFavorite()">
      </div>
      <app-button (click)="buyProduct()" [fullWidth]="true" class="buy-button" >К товару</app-button>
    </div>
  </div>
</div>
